// custom.scss form

/* SITE HEADERS ***************************************************************/

.primary-header {
  background-image: url('../img/wood-image-blue-blur-1920.jpg');
  background-position: center;
  background-size: cover;
}

.what-we-do-header {
  background-attachment: fixed;
  background-image: url('../img/wood-image-blue-blur-1920.jpg');
  background-position: center;
  background-size: cover;
}

.get-started-header {
  background-attachment: fixed;
  background-image: url('../img/wood-image-blue-blur-1920.jpg');
  background-position: center;
  background-size: cover;
}

.services-header {
  background-attachment: fixed;
  background-image: url('../img/wood-image-blue-blur-1920.jpg');
  background-position: center;
  background-size: cover;
}

.bg-we-work-custom-house {
  background-attachment: fixed;
  background-image: url('../img/bg-we-work-pdx-custom-house.png');
  background-position: center;
  background-size: contain;
}

.bg-pattern-one {
  background-attachment: fixed;
  background-image: url('../img/151949935694201705.jpeg');
  background-position: center;
  background-size: 20px;
  background-repeat: repeat;
}

.bg-pattern-two {
  background-attachment: fixed;
  background-image: url('../img/151949931545824505.gif');
  background-position: center;
  background-size: 5px;
  background-repeat: repeat;
}

.bg-pattern-three {
  background-attachment: fixed;
  background-image: url('../img/151949931545824505.gif');
  background-position: center;
  background-size: 50px;
  background-repeat: repeat;
}

.border-blue {
  border-bottom: solid 3px #FFFFFF;
}
.border-blue:hover {
  border-bottom: solid 3px #076BFF;
}
.border-blue:active {
  border-bottom: solid 3px #076BFF;
}
