// custom.scss form

// primary sitewide header
.primary-header {
  background-image: url('../img/wood-image-blue-blur-1920.jpg');
  background-position: center;
  background-size: cover;
}

.what-we-do-header {
  background-attachment: fixed;
  background-image: url('../img/wood-image-blue-blur-1920.jpg');
  background-position: center;
  background-size: cover;
}

.what-you-want-header {
  background-attachment: fixed;
  background-image: url('../img/wood-image-blue-blur-1920.jpg');
  background-position: center;
  background-size: cover;
}

.process-header {
  background-attachment: fixed;
  background-image: url('../img/wood-image-blue-blur-1920.jpg');
  background-position: center;
  background-size: cover;
}

.services-header {
  background-attachment: fixed;
  background-image: url('../img/wood-image-blue-blur-1920.jpg');
  background-position: center;
  background-size: cover;
}

.features {
  padding-bottom: 60px;
}

.border-blue {
  border-bottom: solid 3px #FFFFFF;
}
.border-blue:hover {
  border-bottom: solid 3px #076BFF;
}
.border-blue:active {
  border-bottom: solid 3px #076BFF;
}
